@model Demo.RentalRepairs.WebApi.Models.PropertyModel

@{
    ViewData["Title"] = "Property Details";
}

<div>
    <h4>Property Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoReplyEmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoReplyEmailAddress)
        </dd>*@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsStr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitsStr)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
