@model IEnumerable<Demo.RentalRepairs.WebApi.Models.PropertyModel >

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Superintendent.EmailAddress )
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superintendent.EmailAddress )
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Code ">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Code">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
