@model IEnumerable<Demo.RentalRepairs.WebMvc.Models.PropertyTenantRequestViewModel>

@{
    ViewData["Title"] = "Service Requests";
}

<h4>@ViewData["Title"]</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestTitle )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @if (item.ShowScheduleRejectButtons)
                    {
                        @Html.ActionLink("Schedule", "ScheduleRequest", new { unitNumber = item.UnitNumber, requestCode = item.RequestCode }) 
                        @Html.Raw(" | " ) 
                        @Html.ActionLink("Reject", "RejectRequest", new { unitNumber = item.UnitNumber, requestCode = item.RequestCode })

                    } else if (item.ShowCloseButton)
                    {
                        @Html.ActionLink("Close", "CloseRequest", new { unitNumber = item.UnitNumber, requestCode = item.RequestCode })
                    
                    } else if (item.ShowScheduleButton)
                    {
                         @Html.ActionLink("Schedule", "ScheduleRequest", new { unitNumber = item.UnitNumber, requestCode = item.RequestCode })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "RequestDetails", new { unitNumber = item.UnitNumber, requestCode = item.RequestCode })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
